

/*----------------------------------------------FUENTES----------------------------------------------*/


@font-face {
    font-family:Orbitron-Regular;
    src:url(../Fuentes/Orbitron-Regular.ttf);    
}

@font-face {
    font-family:Satisfy;
    src:url(../Fuentes/Satisfy-Regular.ttf);    
}
@font-face {
    font-family:BigShouldersDisplay;
    src:url(../Fuentes/BigShouldersDisplay-Medium.ttf);    
}

@font-face {
    font-family:Varela;
    src:url(../Fuentes/Varela-Regular.ttf);    
}

@font-face {
    font-family:Bebas;
    src:url(../Fuentes/Bebas-Regular.ttf);    
}